### Basic maths in python

In [1]:
12

12

In [2]:
123648465465

123648465465

In [3]:
35

35

In [4]:
89

89

In [5]:
14+20

34

In [6]:
100-60

40

In [7]:
5*10

50

In [8]:
50/10

5.0

In [50]:
# it will throw an error because we have not created variable name hello
# pyhton can not recognize the name 'hello'
hello

NameError: name 'hello' is not defined

In [10]:
# it will not throw an error because python will consider 'hello' as a string
'hello'     #this is string

'hello'

In [11]:
50/10 # we get float value

5.0

In [12]:
50//11  # this is for integer value(// means floor division)

4

In [13]:
50%10  # it gives remainder( % means modulus)

0

In [14]:
51%10

1

In [15]:
#simply multiplication
4*4

16

In [16]:
#simply multiplication
4*4*4

64

In [17]:
4**2  # square         (** means exponential)

16

In [18]:
4**3 #cube

64

In [19]:
52**5

380204032

In [20]:
#square root function is stored in math library,Hence it is necessary to import it first
import math
math.sqrt(49)

7.0

In [21]:
math.sqrt(456985)

676.0066567719581

In [22]:
'Hiii'

'Hiii'

### Variables
Variables are containers for storing data values.

In [23]:
#here a is the variable, a variable has stored the 'Hello World' string into it
a='Hello World'
a

'Hello World'

In [24]:
print(a)

Hello World

In [25]:
#here x and y are the variables, who have stored the 12 nad 30 number resp. in it
x=12
y=30

In [26]:
x

12

In [27]:
y

30

In [28]:
x=25

In [29]:
x

25

In [30]:
x=45

In [31]:
print(x)

45

In [32]:
# Here 26 number is stored in c variable
c=26
c

26

In [33]:
#Now variable name can also be changed, 
#Here d variable is created who is equal to c variable
d=c

In [34]:
d

26

In [35]:
#If you have multiple numbers, then it can be stored in 'list'
# so here x is a list
x=[50,20,10,78]   # list
x

[50, 20, 10, 78]

In [36]:
'i am good batsman'

'i am good batsman'

In [37]:
# variable is necessary to use indexing
v='i am good batsman'
v[8]

'd'

In [38]:
v[0]

'i'

### Print

In [39]:
print('welcome to India')

welcome to India

In [40]:
print(5)

5

In [41]:
print('5')

5

In [42]:
#you can also specify the data type
x1=str(10)
print(x1)

x2=int(10)
print(x2)

x3=float(10)
print(x3)

10
10
10.0

In [43]:
type(x1)

str

In [44]:
type(x2)

int

In [45]:
type(x3)

float

In [46]:
#Variable Names are case-sensitive
#both variable are different
r=78
R='Ram'

In [47]:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)

In [48]:
myvar = "Ram"
my_var = "Ram"
_my_var = "Ram"
myVar = "Ram"
MYVAR = "Ram"
myvar2 = "Ram"

In [49]:
#Illegal variable names (all will throw an error)
2myvar = "Ram"
my-var = "Ram"
my var = "Ram"

SyntaxError: invalid syntax (<ipython-input-49-ec091d614a7c>, line 2)

In [51]:
x='sachin'
y='virat'
z='rishabh'

In [52]:
#Many Values to Multiple Variables
x,y,z='sachin','virat','rishabh'
x

'sachin'

In [53]:
y

'virat'

In [54]:
#One Value to Multiple Variables
x=y=z='cricket'
y

'cricket'

In [55]:
lst=[1,2,3]
a,b,c=lst
b

2

### Python Indentation
Indentation refers to the spaces at the beginning of a code line.

In [56]:
if 50<100:
 print('50 is greater than 100')

50 is greater than 100

In [57]:
if 50<100:
        print('50 is greater than 100')

50 is greater than 100

In [58]:
#There will be error, if indentation is not present
if 50<100:
print('50 is greater than 100')

IndentationError: expected an indented block (<ipython-input-58-e2517e50e895>, line 3)

In [59]:
#same indentation for both print function
if 50<100:
        print('50 is greater than 100')
        print('end of code')

50 is greater than 100
end of code

In [60]:
#different indentation for both print function will give error
if 50<100:
        print('50 is greater than 100')
          print('end of code')

IndentationError: unexpected indent (<ipython-input-60-07eb8035f14a>, line 3)

### Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [61]:
# python programming

### Multi Line Comments
To add a multiline comment you could insert a # for each line:

In [62]:
# we can write comments
#on different different lines
#multi comments
x=5
print(x)

5

In [63]:
#you can add a multiline string (triple quotes) in your code, and place your comment inside it:
"""
we can write comments'
print(x)
"""
print(x+2)

7

### Output Variables
#To combine both text and a variable, Python uses the + character:

In [64]:
#To combine both text, Python uses the + character:
x='Elon'
print('My name is '+x)

My name is Elon

In [65]:
#You can also use the + character to add a variable to another variable:
x='Elon'
y=' Musk'
print(x+y)

Elon Musk

In [66]:
#For numbers, the + character works as a mathematical operator:
x=10
y=20
print(x+y)

30

In [67]:
#If you try to combine a string and a number, Python will give you an error:
x='Ram'
y=20
print(x+y)

TypeError: can only concatenate str (not "int") to str